<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <conversionRule conversionWord="clr" class="org.springframework.boot.logging.logback.ColorConverter"/>

    <!-- ================================================== -->
    <!-- DEVELOPMENT PROFILE (colorful console logging) -->
    <!-- ================================================== -->
    <springProfile name="dev,local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    %clr(%d{HH:mm:ss.SSS}){faint} [%thread] %clr(%-5level){TRACE=blue, DEBUG=green, INFO=cyan, WARN=yellow, ERROR=red} %logger{0} - %msg%n
                </pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>


    <!--- ================================================== -->
    <!--- PRODUCTION PROFILE (console + rolling file logs)   -->
    <!--- ================================================== -->
    <springProfile name="prod">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/minimart-app.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/minimart-app.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n
                </pattern>
            </encoder>
        </appender>

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n
                </pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>


    </springProfile>

    <!-- ================================================== -->
    <!-- FALLBACK (no profile set) → use dev-like logging   -->
    <!-- Exclude dev, local, prod                           -->
    <!-- ================================================== -->
    <springProfile name="!dev &amp; !local &amp; !prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    %clr(%d{HH:mm:ss.SSS}){faint} [%thread] %clr(%-5level){TRACE=blue, DEBUG=green, INFO=cyan, WARN=yellow, ERROR=red} %logger{36} - %msg%n
                </pattern>
            </encoder>
        </appender>

        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
